p {
  font-family: "Georgia", serif;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

h1 {
  
  font-family: "Garamond", serif;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: bold;
  color: #8c1527;
  font-size: 50;
  text-transform: uppercase;
}

h2 {
  font-family: "Garamond", serif;
  margin-top: 20px;
  margin-bottom: 100px;
  text-align: center;
  text-decoration: bold;
  color: #b3374a;
}

h3 {
  font-family: "Garamond", serif;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: bold;
  color: #c75667;
}

h4 {
  font-family: "Garamond", serif;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: bold;
  color: #591f28;
}

h5 {
  font-family: "Garamond", serif;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  text-align: center;
  text-decoration: bold;
  color: #45131b;
}


/* CLASES */

.tablaindex {
  width: 100%;
  bgcolor: #8c1527;
}

.tablandrea {
  width: 90%;
  text-align: center;
}

.tablamiriam {
  border: 0px;
  padding-top: 20px;
  padding-right: 10%;
  padding-bottom: 20px;
  padding-left: 10%;
  text-align: left;
}

.tabladaniel {
width: 100%;
text-align: left;
border: 0px;
font-family: "Georgia", serif;
paddin-top: 0px;
paddin-right: 0px;
paddin-bottom: 0px;
paddin-left: 10px;
}

.daniel {
margin: 0 auto;
padding: 5px;
background-color: #fff;
border-radius: 2px;
font-family: "Georgia", serif;
color: black;

            

.tablafinal {
width: 100%;
text-align: left;
border: 0px;
background-color: black;
}



/* NO TOCAR */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: right;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  font-family: "garamond", serif;
}
.menu {
  float: right;
}
li a {
  display: block;
  color: #666;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "garamond", serif;
}
li a:hover:not(.active) {
  background-color: #c96977;
  color: white;
  font-family: "garamond", serif;
}
li a.active {
  color: white;
  background-color: #c96977;
  font-family: "garamond", serif;
}
.home {
  display: block;
  color: #666;
  text-align: left;
  float: left;
  padding: 10px 10px;
  text-decoration: none;
  font-family: "garamond", serif;
  width: 13%;
}
