p {
  font-family: "Georgia", serif;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  text-align: justify;
}

h1 {
  
  font-family: "Garamond", serif;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: bold;
  color: #8c1527;
  font-size: 50px;
  text-transform: uppercase;
}

h2 {
  font-family: "Garamond", serif;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: bold;
  color: #b3374a;
}

h3 {
  font-family: "Garamond", serif;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: bold;
  color: #c75667;
}

h4 {
  font-family: "Garamond", serif;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: bold;
  color: #591f28;
}

h5 {
  font-family: "Garamond", serif;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  text-align: center;
  text-decoration: bold;
  color: #45131b;
}

table {
  width: 90%;
  margin: 0 auto;
  vertical-align: middle;
}





/* CLASES */

.tablaindex {
  width: 100%;
  background-color: #8c1527;
  margin: auto;
text-align: center;
border: 0px;
font-family: "Georgia", serif;
}

.tablandrea {
  width: 90%;
  text-align: center;
}

.imagenesindex {
  width: 200px;
  height: 200px; 
  vertical-align: middle;
}

.tablamiriam {
  border: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.tdfotos {
  padding-left: 20px;
  padding-bottom: 40px;
}

.tdtexto {
  padding-right: 20px;
  padding-bottom: 40px;
}

.tabladaniel {
width: 90%;
margin: auto;
text-align: center;
padding-top: 25px;
border: 0px;
font-family: "Georgia", serif;
}

.tddaniel
 {
width: 50%;
padding-left: 30px;
text-align: justify;
vertical-align: top;
}

.trdaniel
 {
width: 50%;
padding-left: 5px;
}


.trprincipal
 {
width: 50%;
padding-left: 5px;
}

.thprincipal
 {
width: 33%;
padding-left: 15px;
text-align: justify;
vertical-align: middle;


.thprincipal2
 {
width: 25%;
padding-left: 15px;
text-align: justify;
vertical-align: top;

   
.daniel {
margin: 0 auto;
padding: 5px;
background-color: #fff;
border-radius: 2px;
font-family: "Georgia", serif;
color: black;
}


.thprincipal
 {
width: 33%;
padding-left: 20px;
text-align: justify;
vertical-align: top;
}


.tablemiguel {
width: 90%;
margin: auto;
text-align: center;
padding-top: 25px;
border: 0px;
font-family: "Georgia", serif;
}
  
.tablafin {
width: 100%;
text-align: justify;
border: 0px;
background-color: 000000;
padding-left: 40px;
padding-bottom: 40px;
}

.fotosmiriam {
height: 200px;
  width: 300px;
}

.tablandrea {
width: 33%;
}

.titulos {
  background-color: #8c1527;
  font-family: "Garamond", serif;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  text-decoration: bold;
  color: white;
  font-size: 50;
  text-transform: uppercase;
  }
  
/* NO TOCAR */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: right;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  font-family: "garamond", serif;
}
.menu {
  float: right;
}
li a {
  display: block;
  color: #666;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "garamond", serif;
}
li a:hover:not(.active) {
  background-color: #c96977;
  color: white;
  font-family: "garamond", serif;
}
li a.active {
  color: white;
  background-color: #c96977;
  font-family: "garamond", serif;
}
.home {
  display: block;
  color: #8c1527;
  text-align: left;
  float: left;
  padding: 10px 10px;
  text-decoration: none;
  font-family: "garamond", serif;
  width: 13%;
}
